<nav>
    <ul class="header__info-list" id="header__nav">
        <li>
            <a href="{{ url('product_list') }}">ONLINE STORE</a>
        </li>
        <li>
            <a href="{{ url('about') }}">ABOUT</a>
        </li>
        <li>
            <a href="{{ url('news') }}">NEWS</a>
        </li>
        <li>
            <a href="{{ url('homepage') }}#access">ACCESS</a>
        </li>
    </ul>
    <ul class="header__shopping-list">
        <li>
            <a href="{{ url('mypage') }}"><img src="/test_ec/html/user_data/assets/img/common/user.svg"></a>
        </li>
        <li>
            <a href="{{ url('mypage_favorite') }}"><img src="/test_ec/html/user_data/assets/img/common/fav.svg"></a>
        </li>
        <li>
            <a href="{{ url('cart') }}"><img src="/test_ec/html/user_data/assets/img/common/cart.svg"></a>
        </li>
    </ul>
</nav>